<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no"/>
    <title>地图</title>
    <style>
        html, body, #map {
            padding: 0;
            margin: 0;
            height: 100%;
            width: 100%;
        }
    </style>
    <!--<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>-->

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>

    <script src="https://cdn.bootcss.com/proj4js/2.4.3/proj4.js"></script>
    <script src="https://cdn.bootcss.com/proj4leaflet/1.0.1/proj4leaflet.min.js"></script>
    <script type="text/javascript" src="thirdparty/underscore.js"></script>
    <script type="text/javascript" src="thirdparty/vue.min.js"></script>
    <script type="text/javascript" src="thirdparty/vue-resource.1.5.0.js"></script>


    <link rel="stylesheet" href="css/base.css"/>
    <script src="thirdparty/tileLayer.baidu.js"></script>
    <style type="text/css">
        #map {
            position: absolute;
            top: 0; /* if you have a 200px block at the top */
            left: 0;
            right: 0;
            bottom: 0;
        }

        .controlsBox {
            overflow-y: scroll;
            height: 100%;
            padding: 10px;

            background: #E9EAEE;
            border: 2px solid white;
            margin: 0 auto;
            box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
            -webkit-box-shadow: 1px 2px 6px;

            z-index: 500;
            background: white;
            position: fixed;
            width: 170px;
            /* height: 440 px; */

        }
        .boundsInput {
            width: 100%;
            margin-top: 3px;
            margin-bottom: 3px;
            height: 30vh;
        }
    </style>
</head>
<body>
    <div id="app">
        <div id="map" class="map"></div>
        <div class='controlsBox'>
            <div class="controls">
                <label>
                    <input type="radio" name="pointmode" value="latlng" class="latlngMode" checked="checked"
                           v-model="pointmode"/>
                    Lat/Lng
                </label>
                <br/>
                <label>
                    <input type="radio" name="pointmode" value="lnglat" class="lnglatMode" v-model="pointmode"/>
                    Lng/Lat
                </label>
                <hr/>
                <br/>
                <label>
                    <input type="checkbox" name="mode" value="all" class="lineMode" v-model="mode" checked/>
                    All Neighbor
                </label>
                <br/>
                <label>
                    <input type="checkbox" name="mode" value="edge" class="pointMode" v-model="mode"/>
                    Edge Neighbor
                </label>
                <br/>
                <label>
                    <input type="checkbox" name="mode" value="vertex" class="circleMode" v-model="mode" />
                    Vertex Neighbor
                </label>
                <br/>
                <label>
                    <input type="checkbox" name="mode" value="points" class="circleMode" v-model="mode" />
                    Vertex Points
                </label>
                <hr/>

                <label>
                    <input type="checkbox" name="clearMap"  class="clearMap" checked v-model="clearMap"/>
                    Clear map on plot
                </label>
                <br/>
                <label>
                    <input type="checkbox" name="showPoint"  class="s2cover" checked v-model="showPoint" />
                    Show Point
                </label>

                <div class="s2options" v-show="true">
                    <input size="2" class="level" v-model="level"> level <br/>
                    <input size="2"  v-show="showPointLevel"
                           class="showLevel" v-model="showLevel"> showLevel <br/>
                </div>

                <br/>

                <textarea class="boundsInput" v-model="boundsInput"></textarea><br/>

                <div class="plotButtonBox">
                    <a class="button boundsButton" @click="boundsCallback()"><span>Plot</span></a>
                </div>

                <div class="info" v-model="info"/>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    //初始化地图
//    $(document).ready(function () {

        //map = new BMap.Map("allmap");
        //myDisTool = new BMapLib.DistanceTool(map);
        //<input type="button" value="开始测距" onclick="myDisTool.open();" />
        //<input type="button" value="关闭测距" onclick="myDisTool.close();" />
        //var map = new BMap.Map("container");
        //map.centerAndZoom(new BMap.Point(116.404, 39.915), 15);
        //var myDistanceToolObject = new BMapLib.DistanceTool(map, {lineStroke : 2});
//    })
    function randomFrom(lowerValue, upperValue) {
        return Math.floor(Math.random() * (upperValue - lowerValue + 1) + lowerValue);
    }
    var baseurl = function(part) {
        return '/api' + part;
    }

    var method = 'GET';
    if (window.location.host == 'localhost') {
        baseurl = function(part) {
            return 'http://localhost:9037' + part + '?callback=?';
        }
        method = 'GET';
    }

    new Vue({
        el: '#app',
        data: {
            checkedNames: [],
            picked: '',
            pointmode: 'latlng', //lnglat
            mode: ["all"],  //EDGE("edge"), VERTEX("vertex"), ALL("all"), POINTS("points");
            clearMap: true,
            showPoint: true,
            radiusInput: 10,
            level: 15,
            showLevel: 18,
            map: "",
            layerGroup: "",
            info:"",
            placeholders : [
                '39.9108870000,116.4346430000',
                '39.9835350000,116.4424660000',
                '39.9869700000,116.4774740000'
            ],
            center : [39.9108870000,116.4346430000],
            boundsInput: ""
        },
        methods:{
            setHash: function(tokens) {
                var h = "";
                function addParam(k, v) {
                    if (h != "") {
                        h+= "&"
                    }
                    h += k + "=" + v;
                }

                if (this.isReverseOrder()) {
                    addParam("order", "lnglat")
                } else {
                    addParam("order", "latlng")
                }

                addParam("mode", this.mode.join(","));

                addParam("s2", 'true');
                addParam("level", this.level);
                addParam("showLevel", this.showLevel);

                addParam("points", this.boundsInput);
                window.location.hash = h;
            },
            showS2Covering: function() {
                return this.s2cover;
            },
            isReverseOrder: function() {
                return this.pointmode == 'lnglat';
            },
            getPoints: function(tokens) {
                var points = [];
                if (!tokens) {
                    return points;
                }

                if ((tokens.length % 2) != 0) {
                    window.alert("extracted an odd number of number tokens, not plotting");
                    return points;
                }

                this.setHash(tokens);

                var isReverseOrder = this.isReverseOrder();
                for (var i = 0; i < tokens.length; i+=2) {
                    if (tokens[i] > 90) {
                        isReverseOrder = true;
                        this.setReverseOrder();
                    }
                }
                this.range(0, tokens.length, 2).forEach(function(i){
                    if (isReverseOrder) {
                        points.push(
                                new L.LatLng(tokens[i+1], tokens[i])
                        );
                    } else {
                        points.push(
                                new L.LatLng(tokens[i], tokens[i+1])
                        );
                    }
                });
                return points;
            },
            resetDisplay: function() {
                if (this.clearMap) {
                    this.layerGroup.clearLayers();
                }
                this.info = "";
            },
            boundsCallback: function () {
                console.log('kill me');
                var bboxstr = this.boundsInput || this.placeholders[randomFrom(1,10) % this.placeholders.length];
                console.log("bboxstr = " + bboxstr);
                try {
                    console.log('trying json parse')
                    geojsonFeature = JSON.parse(bboxstr);
                } catch(e) {
                    console.log(e)
                    console.log('could not parse')
                    geojsonFeature = null;
                }
                var points = [];
                if (geojsonFeature) {
                    console.log(geojsonFeature);
                } else {
                    var regex = /[+-]?\d+\.\d+/g;
                    var bboxParts = bboxstr.match(regex);

                    points = this.getPoints(bboxParts);
                    console.log("points = " + points);
                }
                var polygonPoints = [];
                if (points.length == 0) {
                    // try s2 parsing!
                    this.idsCallback();
                    return;
                } else if(points.length > 0) {
                    this.renderNeighbors(points);
                    return;
                }
                this.resetDisplay();

            },
            cellDescription: function(cell) {
                return 'cell id (unsigned): ' + cell.id + '<br>' +
                        'cell id (signed): ' + cell.id_signed + '<br>' +
                        'cell token: ' + cell.token + '<br>' +
                            //    'face: ' + cell.face + '<br>' +
                        'level: ' + cell.level + '<br>' +
                        'center: ' + cell.ll.lat + "," + cell.ll.lng;
            },
            renderCell: function(cell, color, extraDesc, opacity) {
                if (!color) {
                    color = "#ff0000"
                }

                opacity = opacity || 0.2;

                var description = this.cellDescription(cell)
                if (extraDesc) {
                    description += '<p>' + extraDesc;
                }

//                this.$infoArea.append(description);
//                this.$infoArea.append('<br/>');

                var points = _(cell.shape).map(function(ll) {
                    return new L.LatLng(ll.lat, ll.lng);
                });

                console.log(points);

                var polygon = new L.Polygon(points,
                        {
                            color: color,
                            weight: 1,
                            fill: true,
                            fillOpacity: opacity
                        });
                polygon.bindPopup(description);

                this.layerGroup.addLayer(polygon);
                return polygon;
            },
            renderCells: function(cells) {
                return _(cells).filter(function(cell) { return cell.token != "X"; })
                        .map(_.bind(function(c) {
                            return this.renderCell(c);
                        }, this));
            },
            renderS2Cells: function(cells) {
                var bounds = null;
                var polygons = this.renderCells(cells);
                _.each(polygons, function(p) {
                    if (!bounds) {
                        bounds = new L.LatLngBounds([p.getBounds()]);
                    }
                    bounds = bounds.extend(p.getBounds());
                });
                this.map.setView(bounds.getCenter());
                this.map.fitBounds(bounds);
            },
            idsCallback: function() {
                this.resetDisplay();

                var ids = this.boundsInput
                        .replace(/^\s+/g, '')
                        .replace(/ /g, ',')
                        .replace(/\n/g, ',')
                        .replace(/[^\w\s\.\-\,]|_/g, '');

                var idList = ids.split(',').filter(function(id) {
                    if (id == '') {
                        return false;
                    }
                    return true;
                });
                console.log("ids = " + idList.join(','));
                this.$http.get(baseurl('/s2info'), {params: {id: idList.join(',')}, headers: {'Content-Type': 'application/x-www-form-urlencoded'}}).then(function(response){
                    console.log("body = " + response.body);
                    this.renderS2Cells(response.body);
                }, function(response){

                });
            },
            renderNeighbors: function(latlngs) {
                this.resetDisplay();
                var data = {
                    'points': _(latlngs).map(function(ll) { return ll.lat + "," + ll.lng; }).join(','),
                    'models': this.mode.join(","),
                    'level': this.level,
                    'showLevel' : this.showLevel
                };
                console.log("data = " + JSON.stringify(data));
                this.$http.get(baseurl('/s2neighbors'), {params: data, headers: {'Content-Type': 'application/x-www-form-urlencoded'}}).then(function(response){
                    console.log("body = " + response.body);
                    this.renderS2Cells(response.body);
                }, function(response){

                });

            },
            range : function(start, stop, step) {
                if (arguments.length <= 1) {
                    stop = start || 0;
                    start = 0;
                }
                step = arguments[2] || 1;

                var len = Math.max(Math.ceil((stop - start) / step), 0);
                var idx = 0;
                var range = new Array(len);

                while(idx < len) {
                    range[idx++] = start;
                    start += step;
                }

                return range;
            }
        },
        computed: {
            showPointLevel: function() {
                return this.showPoint;
            }
        },
        created: function () {
            // `this` 指向 vm 实例
//            console.log('a is: ' + this.a)
        },
        mounted: function () {
            this.$nextTick(function () {
                var mapCenter = this.center;
                var map = L.map('map', {
                    crs: L.CRS.Baidu,
                    minZoom: 3,
                    maxZoom: 18,
                    attributionControl: false,
                    center: mapCenter,
                    zoom: 15,
                    zoomControl: true
                });
                map.zoomControl.setPosition('bottomright');

                //控制地图底图
                L.control.layers(
                        {
                            "百度地图": L.tileLayer.baidu({layer: 'vec'}).addTo(map),
                            "百度卫星": L.tileLayer.baidu({layer: 'img'}),
                            "百度地图-大字体": L.tileLayer.baidu({layer: 'vec', bigfont: true}),
                            "百度卫星-大字体": L.tileLayer.baidu({layer: 'img', bigfont: true}),
                            "绿色地图": L.tileLayer.baidu({layer: 'custom', customid: 'grassgreen'}),
                            "灰色地图": L.tileLayer.baidu({layer: 'custom', customid: 'grayscale'})
                        },
                        {
                            "实时交通信息": L.tileLayer.baidu({layer: 'time'})
                        },
                        {position: "topright"}).addTo(map);

                this.layerGroup = new L.LayerGroup();
                map.addLayer(this.layerGroup);
                this.map = map;
                this.boundsInput = this.placeholders[randomFrom(1,10) % this.placeholders.length];
            })
        }
    })
</script>
</body>
</html>