<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no"/>
    <title>地图</title>
    <style>
        html, body, #map {
            padding: 0;
            margin: 0;
            height: 100%;
            width: 100%;
        }
    </style>
    <!--<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>-->

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>

    <script src="https://cdn.bootcss.com/proj4js/2.4.3/proj4.js"></script>
    <script src="https://cdn.bootcss.com/proj4leaflet/1.0.1/proj4leaflet.min.js"></script>
    <script type="text/javascript" src="thirdparty/underscore.js"></script>
    <script type="text/javascript" src="thirdparty/leaflet-geodesy.js"></script>
    <script type="text/javascript" src="thirdparty/vue.min.js"></script>
    <script type="text/javascript" src="thirdparty/vue-resource.1.5.0.js"></script>


    <link rel="stylesheet" href="css/base.css"/>
    <script src="thirdparty/tileLayer.baidu.js"></script>
    <style type="text/css">
        #map {
            position: absolute;
            top: 0; /* if you have a 200px block at the top */
            left: 0;
            right: 0;
            bottom: 0;
        }

        .controlsBox {
            overflow-y: scroll;
            height: 100%;
            padding: 10px;

            background: #E9EAEE;
            border: 2px solid white;
            margin: 0 auto;
            box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
            -webkit-box-shadow: 1px 2px 6px;

            z-index: 500;
            background: white;
            position: fixed;
            width: 170px;
            /* height: 440 px; */

        }
        .boundsInput {
            width: 100%;
            margin-top: 3px;
            margin-bottom: 3px;
            height: 30vh;
        }
    </style>
</head>
<body>
    <div id="app">
        <div id="map" class="map"></div>
        <div class='controlsBox'>
            <div class="controls">
                <label>
                    <input type="radio" name="pointmode" value="latlng" class="latlngMode" checked="checked"
                           v-model="pointmode"/>
                    Lat/Lng
                </label>
                <br/>
                <label>
                    <input type="radio" name="pointmode" value="lnglat" class="lnglatMode" v-model="pointmode"/>
                    Lng/Lat
                </label>
                <hr/>

                <label>
                    <input type="radio"
                           name="mode"
                           value="polygon"
                           class="polygonMode"
                           data-mode="polygon"
                           checked="checked"
                           v-model="mode"
                    />
                    Polygon mode
                </label>

                <br/>
                <label>
                    <input type="radio" name="mode" value="line" class="lineMode" data-mode="line" v-model="mode"/>
                    Line mode
                </label>
                <br/>
                <label>
                    <input type="radio" name="mode" value="point" class="pointMode" data-mode="point" v-model="mode"/>
                    Point mode
                </label>
                <br/>
                <label>
                    <input type="radio" name="mode" value="circle" class="circleMode" data-mode="circle" v-model="mode" />
                    Circle mode
                </label>
                <hr/>

                <label>
                    <input type="checkbox" name="clearMap"  class="clearMap" checked v-model="clearMap"/>
                    Clear map on plot
                </label>

                <br/>

                <label>
                    <input type="checkbox" name="s2cover"  class="s2cover" checked v-model="s2cover" />
                    Show s2 covering
                </label>

                <div class="s2options" v-show="s2optionsShow">
                    <input size="2" class="min_level" value="1" v-model="min_level"> min_level <br/>
                    <input size="2" class="max_level" value="30" v-model="max_level"> max_level <br/>
                    <input size="2" class="max_cells" value="200" v-model="max_cells"> max_cells <br/>
                    <input size="2" class="level_mod" value="1" v-model="level_mod"> level_mod <br/>
                </div>

                <div class="circleOptions" v-show="circleOptionsShow">
                    <input size="5" class="radiusInput" v-model="radiusInput"> radius (meters)<br/>
                </div>
                <br/>

                <textarea class="boundsInput" v-model="boundsInput"></textarea><br/>

                <div class="plotButtonBox">
                    <a class="button boundsButton" @click="boundsCallback()"><span>Plot</span></a>
                </div>

                <div class="info" v-model="info"/>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    //初始化地图
//    $(document).ready(function () {

        //map = new BMap.Map("allmap");
        //myDisTool = new BMapLib.DistanceTool(map);
        //<input type="button" value="开始测距" onclick="myDisTool.open();" />
        //<input type="button" value="关闭测距" onclick="myDisTool.close();" />
        //var map = new BMap.Map("container");
        //map.centerAndZoom(new BMap.Point(116.404, 39.915), 15);
        //var myDistanceToolObject = new BMapLib.DistanceTool(map, {lineStroke : 2});
//    })
    var formatArea = function(a) {
        var unit,sqfeet;

        if (a > 1000000) {
            a = a / 1000000;
            unit = 'km²';
        } else {
            unit = 'm²';
        }

        if (a < 100) {
            return a.toFixed(1) + ' ' + unit;
        } else {
            return Math.round(a) + ' ' + unit;
        }
    };
    var RADIUS = 6378137;
    // ringArea function copied from geojson-area
    // (https://github.com/mapbox/geojson-area)
    // This function is distributed under a separate license,
    // see LICENSE.md.
    var ringArea = function ringArea(coords) {
        var rad = function rad(_) {
            return _ * Math.PI / 180;
        };
        var p1, p2, p3, lowerIndex, middleIndex, upperIndex,
                area = 0,
                coordsLength = coords.length;

        if (coordsLength > 2) {
            for (var i = 0; i < coordsLength; i++) {
                if (i === coordsLength - 2) {// i = N-2
                    lowerIndex = coordsLength - 2;
                    middleIndex = coordsLength -1;
                    upperIndex = 0;
                } else if (i === coordsLength - 1) {// i = N-1
                    lowerIndex = coordsLength - 1;
                    middleIndex = 0;
                    upperIndex = 1;
                } else { // i = 0 to N-3
                    lowerIndex = i;
                    middleIndex = i+1;
                    upperIndex = i+2;
                }
                p1 = coords[lowerIndex];
                p2 = coords[middleIndex];
                p3 = coords[upperIndex];
                area += ( rad(p3.lng) - rad(p1.lng) ) * Math.sin( rad(p2.lat));
            }

            area = area * RADIUS * RADIUS / 2;
        }

        return Math.abs(area);
    };
    function randomFrom(lowerValue, upperValue) {
        return Math.floor(Math.random() * (upperValue - lowerValue + 1) + lowerValue);
    }
    var baseurl = function(part) {
        return '/api' + part;
    }

    var method = 'GET';
    if (window.location.host == 'localhost') {
        baseurl = function(part) {
            return 'http://localhost:9037' + part + '?callback=?';
        }
        method = 'GET';
    }

    new Vue({
        el: '#app',
        data: {
            checkedNames: [],
            picked: '',
            pointmode: 'latlng', //lnglat
            mode: 'polygon', //circle, point,line
            clearMap: true,
            s2cover: false,
            radiusInput: 10,
            min_level: 1,
            max_level: 30,
            max_cells: 200,
            level_mod: 1,
            map: "",
            layerGroup: "",
            info:"",
            placeholders : [
                '39.9833094999,116.4758164788',
                '39.9833094999,116.4758164788,39.9933094999,116.4858164788',
                'bbox: { \n' +
                '  ne: { ' +
                '     lat: 39.9833094999,' +
                '     lng: 116.4758164788' +
                '   },' +
                '   sw: {' +
                '     lat: 39.9933094999, ' +
                '     lng: 116.4858164788 ' +
                '   }, ' +
                ' }'
            ],
            boundsInput: ""
        },
        methods:{
            setHash: function(tokens) {
                var h = "";
                function addParam(k, v) {
                    if (h != "") {
                        h+= "&"
                    }
                    h += k + "=" + v;
                }

                if (this.isReverseOrder()) {
                    addParam("order", "lnglat")
                } else {
                    addParam("order", "latlng")
                }

                addParam("mode", this.mode);

                if (this.mode == 'circle') {
                    addParam("radius", this.radiusInput);
                }

                if (this.showS2Covering()) {
                    addParam("s2", 'true');
                    addParam("s2_min_level", this.min_level);
                    addParam("s2_max_level", this.max_level);
                    addParam("s2_max_cells", this.max_cells);
                    addParam("s2_level_mod", this.level_mod);
                } else {
                    addParam("s2", 'false');
                }

                addParam("points", this.boundsInput);
                window.location.hash = h;
            },
            showS2Covering: function() {
                return this.s2cover;
            },
            isReverseOrder: function() {
                return this.pointmode == 'lnglat';
            },
            setReverseOrder: function() {
                return this.pointmode = 'lnglat';
            },
            getPoints: function(tokens) {
                var points = [];
                if (!tokens) {
                    return points;
                }

                if ((tokens.length % 2) != 0) {
                    window.alert("extracted an odd number of number tokens, not plotting");
                    return points;
                }

                this.setHash(tokens);

                var isReverseOrder = this.isReverseOrder();
                for (var i = 0; i < tokens.length; i+=2) {
                    if (tokens[i] > 90) {
                        isReverseOrder = true;
                        this.setReverseOrder();
                    }
                }
                this.range(0, tokens.length, 2).forEach(function(i){
                    if (isReverseOrder) {
                        points.push(
                                new L.LatLng(tokens[i+1], tokens[i])
                        );
                    } else {
                        points.push(
                                new L.LatLng(tokens[i], tokens[i+1])
                        );
                    }
                });
                return points;
            },
            inCircleMode: function() {
                return this.mode == 'circle';
            },
            inPolygonMode: function() {
                return this.mode == 'polygon';
            },
            inPointMode: function() {
                return this.mode == 'point';
            },
            inLineMode: function() {
                return this.mode == 'line';
            },
            resetDisplay: function() {
                if (this.shouldClear()) {
                    this.layerGroup.clearLayers();
                }
                this.info = "";
            },
            shouldClear: function() {
                return this.clearMap;
            },
            boundsCallback: function () {
                console.log('kill me');
                var bboxstr = this.boundsInput || this.placeholders[randomFrom(1,10) % this.placeholders.length];
                console.log("bboxstr = " + bboxstr);
                try {
                    console.log('trying json parse')
                    geojsonFeature = JSON.parse(bboxstr);
                } catch(e) {
                    console.log(e)
                    console.log('could not parse')
                    geojsonFeature = null;
                }
                var points = [];
                if (geojsonFeature) {
                    console.log(geojsonFeature);
                    if (geojsonFeature['type'] && geojsonFeature['coordinates']) {
                        geojsonFeature = {
                            'type': 'Feature',
                            'properties': {},
                            'geometry': geojsonFeature
                        }
                    }

                    if (geojsonFeature['type'] && geojsonFeature['geometry']) {
                        console.log('trying to load')
                        polygon = L.geoJson(geojsonFeature);
                        console.log(geojsonFeature['geometry']['coordinates'])
                        console.log(_.flatten(geojsonFeature['geometry']['coordinates']))
                        coords = _.flatten(geojsonFeature['geometry']['coordinates'])
                        for (var i = 0; i < coords.length; i+=2) {
                            points.push(new L.LatLng(coords[i+1], coords[i]));
                        }
                        this.setReverseOrder();
                    }

                    if (polygon) {
                        this.renderPolygon(polygon, polygon.getBounds())
                        return;
                    }
                } else {
                    var regex = /[+-]?\d+\.\d+/g;
                    var bboxParts = bboxstr.match(regex);

                    points = this.getPoints(bboxParts);
                    console.log("points = " + points);
                }
                var polygonPoints = [];
                if (points.length == 0) {
                    // try s2 parsing!
                    this.idsCallback();
                    return;
                }

                this.resetDisplay();
                if (points.length == 1 && !this.inCircleMode()  ) {
                    var regex2 = /@(\d+)$/;
                    var matches = bboxstr.match(regex2);
                    if (matches) {
                        this.min_level = matches[1];
                        this.s2cover = true;
                    }

                    var ll = points[0];
                    // render markers will call setView again, and the map seems to hate having
                    // it called twice in rapid succession
                    // this.map.setView(ll, 15);
                    var marker = new L.Marker(ll);
                    this.renderMarkers([marker]);
                    this.renderCovering([ll]);
                } else if (this.inPolygonMode()) {
                    if (points.length == 2) {
                        var ll1 = points[0];
                        var ll2 = points[1];
                        var bounds = new L.LatLngBounds(ll1, ll2);

                        var ne = bounds.getNorthEast();
                        var sw = bounds.getSouthWest();
                        var nw = new L.LatLng(ne.lat, sw.lng);
                        var se = new L.LatLng(sw.lat, ne.lng);

                        polygonPoints = [nw, ne, se, sw];
                    } else {
                        polygonPoints = points;
                    }
                    var polygon = new L.Polygon(polygonPoints,
                            {color: "#0000ff", weight: 1, fill: true, fillOpacity: 0.2 });
                    console.log(">> inPolygonMode ");
                    this.renderPolygon(polygon, polygon.getBounds())
                } else if (this.inCircleMode()) {
                    var bounds = null;
                    var radius = this.radiusInput;
                    _.each(points, function(point) {
                        var polygon = LGeo.circle(point, radius,
                                {color: "#0000ff", weight: 1, fill: true, fillOpacity: 0.2});
                        this.renderPolygon(polygon, polygon.getBounds(), true);
                        if (bounds == null) {
                            bounds = polygon.getBounds();
                        } else {
                            bounds = bounds.extend(polygon.getBounds());
                        }
                    }, this);
                    this.map.fitBounds(bounds);
                } else if (this.inLineMode()) {
                    var polyline = new L.Polyline(points,
                            {color: "#0000ff", weight: 4, fill: false, fillOpacity: 0.2 });
                    this.renderPolygon(polyline, polyline.getBounds());

                    _.each(_.range(0, points.length - 1), _.bind(function(index) {
                        var a = points[index];
                        var b = points[(index+1) % points.length];
                        var distance = this.distanceBetween(a, b);
//                        this.addInfo(a + ' --> ' + b + '<br/>--- distance: ' + distance + 'm');
                    }, this))
                }

                var dotIcon = L.icon({
                    iconAnchor: [5, 5],
                    iconUrl: 'img/blue-dot.png'
                })
                var markerOpts = {}
                if (!this.inPointMode()) {
                    //if (this.inPolygonMode()) {
                    markerOpts['icon'] = dotIcon;
                }

                if (points.length > 1) {
                    var markers = _.map(points, _.bind(function(p, index) {
                        var marker = new L.Marker(p, markerOpts);

                        var downloadLink = document.createElement("a");
                        downloadLink.setAttribute("href", "#");
                        downloadLink.innerHTML = "Download all points as GeoJSON";
                        downloadLink.onclick = _.bind(function () {
                            this.downloadDataAll(index, p.lat, p.lng, this.layerGroup.toGeoJSON());
                        }, this);

//                        var downloadLink = $('<div>Point ' + (index  + 1) + ': ' + p.lat + ',' + p.lng + '<br/><a href="#">Download all points as GeoJSON</a></div>');
                        marker.bindPopup(downloadLink);

                        return marker;
                    }, this));
                    this.renderMarkers(markers);
                }
            },
            degreesToRadians: function(degrees) {
                return degrees * 0.0174532925;
            },
            distanceBetween: function(pointA, pointB) {
                var latRadA = this.degreesToRadians(pointA.lat);
                var latRadB = this.degreesToRadians(pointB.lat);
                var lngRadA = this.degreesToRadians(pointA.lng);
                var lngRadB = this.degreesToRadians(pointB.lng);

                return Math.acos(Math.sin(latRadA) * Math.sin(latRadB) +
                                Math.cos(latRadA) * Math.cos(latRadB) * Math.cos(lngRadA - lngRadB)) * this.EARTH_RADIUS_M;
            },
            dateFormat: function(date) {
                return date.getFullYear() + ""
                        + this.numberFormat(date.getMonth()) + ""
                        + this.numberFormat(date.getDate()) + "-"
                        + this.numberFormat(date.getHours()) + ""
                        + this.numberFormat(date.getMinutes()) + ""
                        + this.numberFormat(date.getSeconds());
            },
            numberFormat: function (num) {
                return num > 10 ? num : ("0" + num);
            },
            downloadData: function(data) {
//                var downloadLink = $('<a></a>')[0];
                var downloadLink = document.createElement("a");
                var json = JSON.stringify(data);
                var blob = new Blob([json], {type: "octet/stream"});
                var url = window.URL.createObjectURL(blob);
                downloadLink.href = url;
                downloadLink.download = 's2map-' + this.dateFormat(new Date()) + '.geojson';
                downloadLink.click();
            },
            downloadDataAll: function(index, lat, lng, data) {
//                var downloadLink = $('<a></a>')[0];
                //                        var downloadLink = $('<div>Point ' +
                // (index  + 1) + ': ' + p.lat + ',' + p.lng + '<br/>
                // <a href="#">Download all points as GeoJSON</a></div>');
                var downloadLink = document.createElement("a");
                var json = JSON.stringify(data);
                var blob = new Blob([json], {type: "octet/stream"});
                var url = window.URL.createObjectURL(blob);
                downloadLink.href = url;
                downloadLink.download = 'Point-' + ((index  + 1) + ': ' + lat + ',' + lng) + '.geojson';
                downloadLink.click();
            },

            renderPolygon: function(polygon, bounds, dontClear) {
                if (!dontClear) {
                    this.resetDisplay();
                }
                this.layerGroup.addLayer(polygon);

//                var downloadLink = $('<a href="#">Download as GeoJSON</a>');
                var downloadLink = document.createElement("a");
                downloadLink.setAttribute("href", "#");
                downloadLink.innerHTML = "Download as GeoJSON";
                downloadLink.onclick = _.bind(function () {
                    this.downloadData(polygon.toGeoJSON());
                }, this);
                polygon.bindPopup(downloadLink);

                this.processBounds(bounds);

                if (typeof(polygon.getLatLngs) != "undefined") {
                    this.renderCovering(polygon.getLatLngs());
                }
            },
            cellDescription: function(cell) {
                return 'cell id (unsigned): ' + cell.id + '<br>' +
                        'cell id (signed): ' + cell.id_signed + '<br>' +
                        'cell token: ' + cell.token + '<br>' +
                            //    'face: ' + cell.face + '<br>' +
                        'level: ' + cell.level + '<br>' +
                        'center: ' + cell.ll.lat + "," + cell.ll.lng;
            },
            renderCell: function(cell, color, extraDesc, opacity) {
                if (!color) {
                    color = "#ff0000"
                }

                opacity = opacity || 0.2;

                var description = this.cellDescription(cell)
                if (extraDesc) {
                    description += '<p>' + extraDesc;
                }

//                this.$infoArea.append(description);
//                this.$infoArea.append('<br/>');

                var points = _(cell.shape).map(function(ll) {
                    return new L.LatLng(ll.lat, ll.lng);
                });

                console.log("polygon points >>> " + points);

                var polygon = new L.Polygon(points,
                        {
                            color: color,
                            weight: 1,
                            fill: true,
                            fillOpacity: opacity
                        });
                var latLngs = polygon.getLatLngs();
                if(latLngs.length == 1 &&  Array.isArray(latLngs[0])) {
                    latLngs = latLngs[0];
                }
                if(latLngs.length > 2) {
                    var area = ringArea(latLngs);
                    description = description + '<br>' +  'area: ' + formatArea(area);
                }
                polygon.bindPopup(description);

                this.layerGroup.addLayer(polygon);
                return polygon;
            },
            renderCells: function(cells) {
                return _(cells).filter(function(cell) { return cell.token != "X"; })
                        .map(_.bind(function(c) {
                            return this.renderCell(c);
                        }, this));
            },
            renderS2Cells: function(cells) {
                if(cells.length == 0) {
                    return;
                }
                var bounds = null;
                var polygons = this.renderCells(cells);
                _.each(polygons, function(p) {
                    if (!bounds) {
                        bounds = new L.LatLngBounds([p.getBounds()]);
                    }
                    bounds = bounds.extend(p.getBounds());
                });
                this.map.setView(bounds.getCenter());
                this.map.fitBounds(bounds);
            },
            renderMarkers: function(points) {
                var bounds = new L.LatLngBounds(_.map(points, function(p) {
                    return p.getLatLng();
                }));

                _.each(points, _.bind(function(p) {
                    this.layerGroup.addLayer(p);
                }, this));

                this.processBounds(bounds);
            },
            processBounds: function(bounds) {
                if (!this.shouldClear() && !!this.previousBounds) {
                    bounds = this.previousBounds.extend(bounds)
                }
                this.previousBounds = bounds;

                var zoom = this.map.getBoundsZoom(bounds) - 1;

                // TODO: add control offset logic?
                var centerPixel = this.map.project(bounds.getCenter(), zoom);
                var centerPoint = this.map.unproject(centerPixel, zoom)
                this.map.setView(centerPoint, zoom);
            },
            renderCovering: function(latlngs) {
                if (this.showS2Covering()) {
                    if(latlngs.length == 1 &&  Array.isArray(latlngs[0])) {
                        latlngs = latlngs[0];
                    }
                    var data = {
                        'points': _(latlngs).map(function(ll) { return ll.lat + "," + ll.lng; }).join(',')
                    };

                    if (this.min_level) {
                        data['min_level'] = this.min_level;
                    }
                    if (this.max_level) {
                        data['max_level'] = this.max_level;
                    }
                    if (this.max_cells) {
                        data['max_cells'] = this.max_cells;
                    }
                    if (this.level_mod) {
                        data['level_mod'] = this.level_mod;
                    }

                    console.log("data = " + JSON.stringify(data));
                    this.$http.get(baseurl('/s2cover'), {params: data, headers: {'Content-Type': 'application/x-www-form-urlencoded'}}).then(function(response){
                        console.log("body = " + response.body);
                        this.renderS2Cells(response.body);
                    }, function(response){

                    });
                }
            },
            idsCallback: function() {
                this.resetDisplay();

                var ids = this.boundsInput
                        .replace(/^\s+/g, '')
                        .replace(/ /g, ',')
                        .replace(/\n/g, ',')
                        .replace(/[^\w\s\.\-\,]|_/g, '');

                var idList = ids.split(',').filter(function(id) {
                    if (id == '') {
                        return false;
                    }
                    return true;
                });
                console.log("ids = " + idList.join(','));
                this.$http.get(baseurl('/s2info'), {params: {id: idList.join(',')}, headers: {'Content-Type': 'application/x-www-form-urlencoded'}}).then(function(response){
                    console.log("body = " + response.body);
                    this.renderS2Cells(response.body);
                }, function(response){

                });
            },
            range : function(start, stop, step) {
                if (arguments.length <= 1) {
                    stop = start || 0;
                    start = 0;
                }
                step = arguments[2] || 1;

                var len = Math.max(Math.ceil((stop - start) / step), 0);
                var idx = 0;
                var range = new Array(len);

                while(idx < len) {
                    range[idx++] = start;
                    start += step;
                }

                return range;
            }
        },
        computed: {
            s2optionsShow: function() {
                return this.s2cover;
            },
            circleOptionsShow: function() {
                return this.mode == 'circle';
            }

        },
        created: function () {
            // `this` 指向 vm 实例
//            console.log('a is: ' + this.a)
        },
        mounted: function () {
            this.$nextTick(function () {
                var map = L.map('map', {
                    crs: L.CRS.Baidu,
                    minZoom: 3,
                    maxZoom: 18,
                    attributionControl: false,
                    center: [39.915119,116.403963],
                    zoom: 15,
                    zoomControl: true
                });
                map.zoomControl.setPosition('bottomright');

                //控制地图底图
                L.control.layers(
                        {
                            "百度地图": L.tileLayer.baidu({layer: 'vec'}).addTo(map),
                            "百度卫星": L.tileLayer.baidu({layer: 'img'}),
                            "百度地图-大字体": L.tileLayer.baidu({layer: 'vec', bigfont: true}),
                            "百度卫星-大字体": L.tileLayer.baidu({layer: 'img', bigfont: true}),
                            "自定义样式-黑色地图": L.tileLayer.baidu({layer: 'custom', customid: 'dark'}),
                            "自定义样式-蓝色地图": L.tileLayer.baidu({layer: 'custom', customid: 'midnight'})
                        },
                        {
                            "实时交通信息": L.tileLayer.baidu({layer: 'time'})
                        },
                        {position: "topright"}).addTo(map);

                this.layerGroup = new L.LayerGroup();
                map.addLayer(this.layerGroup);

                this.map = map;
                this.boundsInput = this.placeholders[randomFrom(1,10) % this.placeholders.length];
            })
        }
    })
</script>
</body>
</html>